.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: #fff;
    font-size: 28px;
    font-weight: 900;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-image-source: linear-gradient(253.5deg, rgba(255, 255, 255, 0.5) 10.2%, rgba(7, 30, 74, 0.5) 88.62%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    height: 75px;
    padding: 32px 27px 32px 27px;
    background: linear-gradient(180deg, #2BBAD9 17.01%, #650B95 152.06%),
linear-gradient(253.5deg, rgba(255, 255, 255, 0.5) 10.2%, rgba(7, 30, 74, 0.5) 88.62%);

}

@media (max-width: 1199px) {
    .button {
        font-size: 16px;
        font-weight: 700;
        line-height: 28px;
        height: 50px;
        padding: 24px 16px 24px 16px;
    }
  }

.button:hover {
    background-color: #a96ad6;
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.3);
}

.button:active {
    background-color: #75459b;
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.button:disabled {
    filter: grayscale(.9);
    cursor: not-allowed;
    box-shadow: none;
}

.button:disabled:hover {
    transform: none;
}