@import "./font/fonts.css";

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
    height: 100%;
    width: 100%;
    object-fit: contain;
    pointer-events: none;
    user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


@import "susy";

.stars, .twinkling, .clouds {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.stars {
    z-index: 0;
    background: #000 url('https://i.imgur.com/YKY28eT.png') repeat top center;
}

.twinkling {
    z-index: 1;
    background: transparent url('https://i.imgur.com/XYMF4ca.png') repeat top center;
    animation: move-twink-back 200s linear infinite;
}

.clouds {
    z-index: 2;
    background: transparent url('https://i.imgur.com/mHbScrQ.png') repeat top center;
    animation: move-clouds-back 200s linear infinite;
}

@keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 10000px 0;
    }
}

#hand {
    /*background-image: url(assets/hand.png);*/
}

#root {
    width: 100vw;
    height: 100vh;
}

/*#cat-1{*/
/*  background-image: image-set(*/
/*    url("../src/assets/cat1.png") 1x,*/
/*    url("../src/assets/cat1@2x.png") 2x,*/
/*  );*/
/*}*/

/*#cat-2{*/
/*  background-image: image-set(*/
/*    url("../src/assets/cat2.png") 1x,*/
/*    url("../src/assets/cat2@2x.png") 2x,*/
/*  );*/
/*}*/

/*#cat-3{*/
/*  background-image: image-set(*/
/*    url("../src/assets/cat3.png") 1x,*/
/*    url("../src/assets/cat3@2x.png") 2x,*/
/*  );*/
/*}*/

/*#cat-4{*/
/*  background-image: image-set(*/
/*    url("../src/assets/cat4.png") 1x,*/
/*    url("../src/assets/cat4@2x.png") 2x,*/
/*  );*/
/*}*/

/*#field{*/
/*  background-image: image-set(*/
/*    url("../src/assets/field.png") 1x,*/
/*  );*/
/*}*/

@keyframes progress {
    from {
        transform: scaleX(5%) translateX(-5%);
    }
    to {
        transform: scaleX(75%) translateX(130%);
    }
}
